
.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerMenu {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5em;
    padding: 1.25em;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.headerLink{
    color: white;
    display: flex;
    gap: 1.5em;
}
.headerLink:hover{
    color: gray;
    text-decoration: none;
}

.inputSearch {
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}
.backToHome {
    margin: 3rem 0 0;
}