
.heading2X1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingX1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.paragraphContent {
    font-size: 20px;
}

.quizTitle {
    text-align: center;
}



.quizResposts{
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.quizScore {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 8px;
}

.quizButton {
    border: none;
    background-color: black;
    width: 90%;
    margin-left: 1rem;
    text-align: left;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}


.quizButton:hover{
    background-color: #b8cad4;
    color: black;
}

.quizButtonResult {
    border: none;
    background-color: white;
    margin-block: 1rem;
    color: black;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}
.quizButtonResult:hover{
    background-color: #b8cad4;
}